.back1{
    background-color: rgb(153, 246, 14);
}
.hd2{
    text-align: center;
    margin-top: 50px;
    color: salmon;
   
}
.feature-icon{
    justify-content:center;
}
.row1{
    padding: 100px;
    border: 100px;
    background-color: rgb(237, 163, 45);
}
.hd3{
    text-align: center;
}
.row1 p{
    text-align: center;
}
.row1 img{
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 165px;;
    
    
    
}

